@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 背景画像の指定（固定） */
body {
  background-image: url('/images/flower-bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
